@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/*  font-family: "Outfit", sans-serif;*/

:root {
  font-size: 62.5%;
  --white: #FFFFFF;
  --blue-500: #3685FF;
  --blue-600: #2C7DFA;
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
}

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--slate-300);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}